<div class="modal-body w-75 mx-auto  my-3">
    <form>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1"
                placeholder="Họ Tên" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <input type="" class="form-control" id="exampleInputPassword1"
                placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1"
                placeholder="SDT">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Địa Chỉ">
        </div>
        <a href=""><button ></button></a>
    </form>
    <!--  em ko dùng ng-model à -->
</div>