<div class="container  text-black   ">
    <div class="text-center mt-4 ">
        <p style="font-family: 'Pacifico', cursive; color: burlywood;">Dịch vụ phòng của chúng tôi</p>
    </div>
    <div class="d-flex w-75 mx-auto gap-3 ">
        <div class="w-50 h-100  text-center  ">
            <img class="w-100    " src="/AS1WEB307/img/Premium-Deluxe-Double-2.jpg" alt="">
            <p>Studio Room</p>
            <p><Span>$2900000</Span>
                <span class="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ADD
                    </button>
                    <!-- Modal -->
                    <div class="modal fade text-black " id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputEmail1" placeholder="Họ Tên"
                                                aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <input type="" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputPassword1" placeholder="SDT">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputPassword1"
                                                placeholder="Địa Chỉ">
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </p>
        </div>
        <div class="w-50 h-100  text-center  ">
            <img class="w-100    " src="/AS1WEB307/img/Premium-Deluxe-Double-2.jpg" alt="">
            <p>Executive Room</p>
            <p><Span>$2900000</Span>
                <span class="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ADD
                    </button>
                    <!-- Modal -->
                    <div class="modal fade text-black " id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputEmail1" placeholder="Họ Tên"
                                                aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <input type="" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputPassword1" placeholder="SDT">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputPassword1"
                                                placeholder="Địa Chỉ">
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </p>
        </div>
        <div class="w-50 h-100  text-center  ">
            <img class="w-100    " src="/AS1WEB307/img/Premium-Deluxe-Double-2.jpg" alt="">
            <p>Senior Ocean Room</p>
            <p><Span>$2900000</Span>
                <span class="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ADD
                    </button>
                    <!-- Modal -->
                    <div class="modal fade text-black " id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputEmail1" placeholder="Họ Tên"
                                                aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <input type="" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputPassword1" placeholder="SDT">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputPassword1"
                                                placeholder="Địa Chỉ">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Số Người">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đến</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đi</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </p>
        </div>
    </div>
    <div class="d-flex w-75 mx-auto gap-3 ">
        <div class="w-50 h-100  text-center  ">
            <img class="w-100    " src="/AS1WEB307/img/Premium-Deluxe-Double-2.jpg" alt="">
            <p>Studio Room</p>
            <p><Span>$2900000</Span>
                <span class="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ADD
                    </button>
                    <!-- Modal -->
                    <div class="modal fade text-black " id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputEmail1" placeholder="Họ Tên"
                                                aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <input type="" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="SDT">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Địa Chỉ">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Số Người">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đến</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đi</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </p>
        </div>
        <div class="w-50 h-100  text-center  ">
            <img class="w-100    " src="/AS1WEB307/img/Premium-Deluxe-Double-2.jpg" alt="">
            <p>Executive Room</p>
            <p><Span>$2900000</Span>
                <span class="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ADD
                    </button>
                    <!-- Modal -->
                    <div class="modal fade text-black " id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputEmail1" placeholder="Họ Tên"
                                                aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <input type="" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="SDT">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Địa Chỉ">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Số Người">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đến</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đi</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </p>
        </div>
        <div class="w-50 h-100  text-center  ">
            <img class="w-100    " src="/AS1WEB307/img/Premium-Deluxe-Double-2.jpg" alt="">
            <p>Senior Ocean Room</p>
            <p><Span>$2900000</Span>
                <span class="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        ADD
                    </button>
                    <!-- Modal -->
                    <div class="modal fade text-black " id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <input class="form-control" id="exampleInputEmail1" placeholder="Họ Tên"
                                                aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-3">
                                            <input type="" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="SDT">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Địa Chỉ">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                placeholder="Số Người">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đến</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="mb-3 d-flex ">
                                            <label class="fs-6" for="">Ngày Đi</label>
                                            <input type="date" class="form-control" id="exampleInputPassword1">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </p>
        </div>
    </div>
    <hr>
    <h1>{{title}}</h1>
    <div class="card-body w-75 d-flex mx-auto ">
        <table class="table border table-bordered ">
            <thead>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Địa Chỉ</th>
            </thead>
            <tr ng-repeat="item in listcustomer">
                <td>{{ $index + 1 }}</td>
                <td>{{item.ten}}</td>
                <td>{{item.email}}</td>
                <td>{{item.sdt}}</td>
                <td>{{item.diachi}}</td>
                <td>
                    <a href="#!/chitiet/{{item.id}}"> <button type="submit" class="btn btn-danger ">Chi
                            Tiết</button></a>
                    <button class="btn btn-danger " ng-click="deleteCustomer(item.id)">Xóa</button>
                </td>
            </tr>
        </table>
    </div>
    <hr>
</div>