
<h3 class="text-center mt-3">Phòng khách sạn</h3>
<h5 class="w-50 mx-auto fs-6 text-body-secondary ">
  Khách sạn MONA là khách sạn 5 sao đẳng cấp quốc tế, tọa lạc tại giao điểm của bốn quận chính, nơi được xem như trái
  tim và trung tâm của TP. Hồ Chí Minh. Quý khách chỉ mất 35 phút lái xe từ khách sạn tới sân bay Tân Sơn Nhất, 8 phút
  để tới khu trung tâm thương mại và giải trí của thành phố. Với 333 phòng tiêu chuẩn và phòng hạng sang thiết kế đẹp
  mắt và trang nhã được chú trọng tới từng chi tiết sẽ đem lại sự tiện nghi và thoải mái tối đa cho quý khách dù là thời
  gian nghỉ ngơi thư giãn hay trong chuyến công tác.
</h5>

<div class="d-flex w-75 mx-auto gap-3 mt-4  ">

  <div class="text-center  ">
    <img class="w-100   " src="/AS1WEB307/img/a1.jpg" alt="">
    <p>Studio Room</p>
    <p><Span>$2900000</Span>
    </p>
  </div>
  <div class=" text-center  ">
    <img class="w-100    " src="/AS1WEB307/img/a1.jpg" alt="">
    <p>Executive Room</p>
    <p><Span>$2900000</Span>
    </p>
  </div>
  <div class="  text-center  ">
    <img class="w-100    " src="/AS1WEB307/img/a1.jpg" alt="">
    <p>Senior Ocean Room</p>
    <p><Span>$2900000</Span>
    </p>
  </div>
</div>
<div class="d-flex w-75 mx-auto gap-3 mt-4  ">

  <div class="text-center  ">
    <img class="w-100   " src="/AS1WEB307/img/a1.jpg" alt="">
    <p>Studio Room</p>
    <p><Span>$2900000</Span>
    </p>
  </div>
  <div class=" text-center  ">
    <img class="w-100    " src="/AS1WEB307/img/a1.jpg" alt="">
    <p>Executive Room</p>
    <p><Span>$2900000</Span>
    </p>
  </div>
  <div class="  text-center  ">
    <img class="w-100    " src="/AS1WEB307/img/a1.jpg" alt="">
    <p>Senior Ocean Room</p>
    <p><Span>$2900000</Span>
    </p>
  </div>
</div>
<h3 class="text-center my-5">Dịch Vụ</h3>
<div class="card-group w-75 mx-auto gap-3 ">
  <div class="card">
    <img src="/AS1WEB307/img/a2 (1).jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/AS1WEB307/img/a5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/AS1WEB307/img/a7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
